{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/subnav.css" %}">
</head>
<body>
    <header class = "Container">
        <div class = "hamburger">
            <i onclick="show_side_bar()" class="fa-solid fa-bars"></i>
            <p>All</p>
        </div>
        <div class="nav-item">
            <p>Today's Deals</p>
        </div>
        <div class="nav-item">
            <p>Coupons</p>
        </div>
        <div class="nav-item">
            <p>Hotel Booking</p>
        </div>
        <div class="nav-item">
            <p>Gift Cards</p>
        </div>
        <div class="nav-item">
            <p>Amazon Pay</p>
        </div>
        <div class="nav-item">
            <p>Browsing History</p>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="nav-item">
            <p>Keep Shopping for</p>
        </div>
        <div class="nav-item">
            <p>Buy Again</p>
        </div>
        <div class="nav-item">
            <p>Prime</p>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="nav-item">
            <p>Gift Ideas</p>
        </div>
        <div class="nav-item">
            <p>Fresh</p>
        </div>
        <div class="nav-item">
            <p>Grocery & Gourmet Foods</p>
        </div>
     </header>
            
</body>
</html>